/AIStoryteller_CSharp/.vs/
/AIStoryteller_CSharp/AIStoryteller/bin/
/AIStoryteller_CSharp/AIStoryteller/obj/
/AIStoryteller_CSharp/AIStoryteller_Repository/bin/
/AIStoryteller_CSharp/AIStoryteller_Repository/obj/
/AIStoryteller_Python/__pycache__