@page "/book/read/{BookId}"
@using System.Diagnostics
@using AIStoryteller.Components.Elements.Book_Read
@using AIStoryteller_Repository.Payload.Response
@using AIStoryteller_Repository.Services
@inject NavigationManager NavManager
@inject IBookService BookService
@rendermode InteractiveServer
<div class="container-fluid vh-100 mx-0 px-0 col-12">
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-4 gx-0">
            <BookImage></BookImage>
        </div>
        <div class="col-lg-8 col-sm-8 col-md-8 gx-2">
            <div class="container">
                <div class="row vh-40">
                    <div class="container general-info-container ">
                        <div class="row px-2">
                            <MainControls OnBackButtonClicked="BackToHomePage"></MainControls>
                        </div>
                        <div class="row">
                            <BookInfo BookName="@_bookResponse.Name" AuthorName="@_bookResponse.AuthorName"></BookInfo>
                        </div>
                    </div>
                </div>
                <div class="row vh-60">                    
                    <PageList BookId="@BookId" @ref="_pageList"></PageList>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .general-info-container {
        background-color: #d8f9ff; /* Custom background color */
    }
</style>
@code{
    [Parameter]
    public string BookId { get; set; }
    private PageList _pageList;
    private BookResponse _bookResponse = new BookResponse();
    protected override async Task OnInitializedAsync()
    {
        int bookId = Convert.ToInt32(BookId);
        _bookResponse = await BookService.GetBookById(bookId);
    }
    private void BackToHomePage()
    {
        _pageList.StopAudioOnPageExit();
        NavManager.NavigateTo("/");
    }
}