::deep .annotation-img {
    color: black;
    
}
::deep .annotation-text {
    color: black;
}
/*::deep #drop-area {
    width: 20rem;
    height: 22rem;
    background: rgb(157,129,170);
    background: linear-gradient(103deg, rgba(157,129,170,0.42544940339417014) 26%, rgba(157,129,170,1) 100%);
    border-color: #bbb5ff;
    border-style: double;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    padding: 80px 20px;
    justify-content: center;
}*/

#pdf-view {
    font-size: 20px;
    color: black
}
#pdf-view img {
    width: 5rem;
    height: 5rem;
}

