@page "/"
@using AIStoryteller_Repository.Services
@using AIStoryteller_Repository.Payload.Request
@using AIStoryteller_Repository.Payload.Response
@using AIStoryteller.Components.Elements.Home
@inject IBookService BookService
<PageTitle>Home</PageTitle>


<article class="content mb-5 px-4">

    <h2>Your Books</h2>
    <div class="container mt-5">
        <div class="row w-full position-relative">
            @foreach (var book in _books)
            {
                <BookCard BookId="@book.Id" BookName="@book.Name" 
                          Author="@book.AuthorName"
                          Description="@book.Description"></BookCard>
            }
        </div>
    </div>
</article>

<style>
    .relative-pos{
        position:relative;
    }
</style>
@code{
    private List<BookResponse> _books = new List<BookResponse>();
    private int _count = 0;
    protected override async Task OnInitializedAsync()
    {
        _books = await BookService.GetBooks(new GetBooksPagingRequest()
        {
            PageCount = 1,
            PageSize = 5
        });
        await base.OnInitializedAsync();
    }
}
