@page "/"
@using AIStoryteller_Repository.Services
@using AIStoryteller_Repository.Payload.Request
@using AIStoryteller_Repository.Payload.Response
@using AIStoryteller.Components.Elements.Home
@inject IBookService BookService
<PageTitle>Home</PageTitle>


<article class="content mb-5">
    <div class="container mt-2 ml-2">
        <div class="row">
            <div class="col-lg-1 book-icon">
                <div class="fas fa-book fa-2xl"></div>
            </div>
            <div class="col-lg-3 pt-1">
                <h2 class="my-0 gy-0">Your Books</h2>
            </div>
        </div>
    </div>
    <div class="container mt-2">

        <div class="row w-full position-relative scrollable-div px-0">
            @foreach (var book in _books)
            {
                <BookCard BookId="@book.Id" BookName="@book.Name"
                          Author="@book.AuthorName"
                          Description="@book.Description"></BookCard>
            }
        </div>
    </div>
</article>

<style>
   
    }
</style>
@code{
    private List<BookResponse> _books = new List<BookResponse>();
    private int _count = 0;
    protected override async Task OnInitializedAsync()
    {
        _books = await BookService.GetBooks(new GetBooksPagingRequest()
        {
            PageCount = 1,
            PageSize = 5
        });
        await base.OnInitializedAsync();
    }
}
