
<div class="progress mb-2">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuemin="0" aria-valuemax="100" style="width: @ProgressBarValue">
    </div>
</div>
@code {
    [Parameter]
    public string ProgressBarValue { get; set; }    
}
