<div class="px-3 py-4">
    <h2>@BookName</h2>
    <h6 class="display-6">@AuthorName</h6>
</div>

@code{
    [Parameter]
    public string BookName { get; set; }
    [Parameter]
    public string AuthorName { get; set; }
}
