@using AIStoryteller_Repository.Payload.Response
@using AIStoryteller_Repository.Services
@inject IPageService PageService 
<div class="container row gx-0">
    <div class="overflow-auto page-list-row-height">
        @foreach(var pageResponse in _pageResponseList)
        {
            <div class="card">
                <div class="p-4 card-body">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="align-items-center row">
                                <div class="col-lg-2 col-md-2 col-sm-2">

                                    <h2>@pageResponse.PageNumber</h2>

                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10">
                                    <div class="container mt-3 overflow-hidden mt-lg-0">
                                        <h5 class="fs-19 mb-0">
                                           <div class="page-content">
                                               @pageResponse.Content
                                            </div>
                                        </h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex align-items-center col-lg-2 col-md-2 col-sm-2">

                            <span class="badge bg-success ms-1">0:00</span>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .page-content {
        height:3rem;
        width:15rem;
        text-overflow:ellipsis;
    }

    .page-list-row-height {
        height: 53vh;
    }
</style>

@code {
    [Parameter]
    public string BookId { get; set; }
    private List<PageResponse> _pageResponseList = new List<PageResponse>();
    protected override async Task OnInitializedAsync()
    {
        int bookId = Convert.ToInt32(BookId);
        _pageResponseList = await PageService.GetPagesByBookId(bookId);
    }
}

