@inject NavigationManager NavManager
@rendermode InteractiveServer
<div class="card me-3 my-3 pe-auto col-lg-3 col-md-3 col-sm-3 gx-0 "
     @onclick="GoToReadPage">
    <img class="card-img-top card-image"
         src="https://i.pinimg.com/564x/cb/fb/d0/cbfbd0d8e38215fef58f2dcaf43e432d.jpg"
         alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@BookName</h5>
        <p class="lead author-text">@Author</p>
        <p class="card-text">@Description</p>
    </div>
</div>

<style>
    .card-image {
        width: 100%;
        height: 15rem;
    }
    .author-text {
        color: rgb(63,6,93,0.918446602273722);
    }
</style>

@code{
    [Parameter]
    public int BookId { get; set; }
    [Parameter]
    public string BookName { get; set; }
    [Parameter]
    public string Author { get; set; }
    [Parameter]
    public string Description { get; set; }
    private void GoToReadPage()
    {
        int bookId = BookId;
        NavManager.NavigateTo($"/book/read/{bookId}");
    }
}